body {
    height: 100vh;
}

.input-form-box {
    width: 360px;
    margin: 0 auto !important;
}

.class-room-box {
    width: 800px;
    margin: 0 auto !important;
}

.error-box {
    position: relative;
    top: 250px;
    width: 500px;
    margin: 0 auto !important;
}

.footer {
    text-align: center;
    width: 360px;
    margin: 0 auto !important;
}

